<div class="container" ng-controller="courseController" ng-cloak>

    <div ng-repeat="course in courses">
        <p>{{course.Name}}, max number of students: {{course.MaxStudents}}</p>
    </div>

    <form>
        <input type="text" ng-model="name" placeholder="Course Name" />
        <input type="number" ng-model="maxStudents" placeholder="Max Number of Students" />
        <button type="button" ng-click="addCourse()">Add Course</button>
    </form>
</div>