@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Bacon ipsum dolor amet hamburger cupim chicken strip steak, brisket shank kielbasa prosciutto pastrami chuck bresaola biltong meatloaf pork loin. Kevin venison alcatra beef ground round pork loin filet mignon, strip steak brisket ham hock. Turducken porchetta ball tip ham hock shank. Sausage shank swine pork chop picanha landjaeger shankle kevin turducken pork.</p>
<p>Pork belly chuck ribeye beef ribs drumstick chislic kielbasa brisket alcatra flank strip steak venison salami. Salami picanha t-bone pancetta landjaeger sirloin cupim prosciutto ground round ham hock. Shoulder biltong tenderloin shank kevin boudin doner pastrami leberkas shankle. Buffalo fatback alcatra ribeye, spare ribs beef kielbasa. Picanha tongue ribeye boudin frankfurter fatback. Picanha filet mignon venison meatball. Kielbasa doner shank, flank hamburger pig shankle t-bone alcatra swine buffalo spare ribs ham hock.</p>
