@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Lisboa
</address>

<address>
    <strong>Support:</strong>   <a href="https://www.linkedin.com/in/tomas-grilo/">https://www.linkedin.com/in/tomas-grilo/</a><br />
</address>