<div class="container" ng-controller="homeController">

    <div ng-repeat="course in courses">
        <p>{{course.Name}}, max number of students: {{course.MaxStudents}}</p>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Courses</h5>
            <p class="card-text">There are currently {{courseCount}} active courses, with {{studentCount}} students total</p>
            <a href="#" class="btn btn-primary">Manage Courses</a>
        </div>
    </div>

    <form>
        <input type="text" ng-model="name" placeholder="Course Name" />
        <input type="number" ng-model="maxStudents" placeholder="Max Number of Students" />
        <button type="button" ng-click="addCourse()">Add Course</button>
    </form>

</div>

@section scripts {
    <script src="~/angularControllers/appController.js"></script>
    <script src="~/angularControllers/homeController.js"></script>
    <script src="~/angularControllers/serviceController.js"></script>
}